{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>White's portfolio</title>   

<meta name="description" content="Insert Your Site Description" /> 

<!-- Mobile Specifics -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="320"/>   

<!-- Mobile Internet Explorer ClearType Technology -->
<!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->

<!-- Bootstrap -->
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

<!-- Main Style -->
<link href="{% static "css/main.css" %}" rel="stylesheet">

<!-- Supersized -->
<link href="{% static "css/supersized.css" %}" rel="stylesheet">
<link href="{% static "css/supersized.shutter.css" %}" rel="stylesheet">

<!-- FancyBox -->
<link href="{% static "css/fancybox/jquery.fancybox.css" %}" rel="stylesheet">

<!-- Font Icons -->
<link href="{% static "css/fonts.css" %}" rel="stylesheet">

<!-- Shortcodes -->
<link href="{% static "css/shortcodes.css" %}" rel="stylesheet">

<!-- Responsive -->
<link href="{% static "css/bootstrap-responsive.min.css" %}" rel="stylesheet">
<link href="{% static "css/responsive.css" %}" rel="stylesheet">

<!-- Supersized -->
<link href="{% static "css/supersized.css" %}" rel="stylesheet">
<link href="{% static "css/supersized.shutter.css" %}" rel="stylesheet">

<!-- Google Font -->
<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Didact+Gothic&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>

<!-- Fav Icon -->
<link rel="shortcut icon" href="#">

<link rel="apple-touch-icon" href="#">
<link rel="apple-touch-icon" sizes="114x114" href="#">
<link rel="apple-touch-icon" sizes="72x72" href="#">
<link rel="apple-touch-icon" sizes="144x144" href="#">

<!-- Modernizr -->
<script src="{% static "js/modernizr.js" %}"></script>


</head>


<body>

<!-- This section is for Splash Screen -->
<div class="ole">
<section id="jSplash">
	<div id="circle"></div>
</section>
</div>
<!-- End of Splash Screen -->

<!-- Homepage Slider -->
<div id="home-slider">	
    <div class="overlay"></div>

    <div class="slider-text">
    	<div id="slidecaption"></div>
    </div>   
	
	<div class="control-nav">
        <a id="prevslide" class="load-item"><i class="font-icon-arrow-simple-left"></i></a>
        <a id="nextslide" class="load-item"><i class="font-icon-arrow-simple-right"></i></a>
        <ul id="slide-list"></ul>
        
        <a id="nextsection" href="#work"><i class="font-icon-arrow-simple-down"></i></a>
    </div>
</div>
<!-- End Homepage Slider -->

<!-- Header -->
<header>
    <div class="sticky-nav">
    	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        
        <div id="logo">
        	<a id="goUp" href="#home-slider" title="White | Responsive One Page Template">White</a>
        </div>
        
        <nav id="menu">
        	<ul id="menu-nav">
            	<li class="current"><a href="#home-slider">Главная</a></li>
                <li><a href="#work">Работы</a></li>
                <li><a href="#about">Обо мне</a></li>
                <li><a href="#contact">Контакты</a></li>
				<!-- <li><a href="shortcodes.html" class="external">Shortcodes</a></li> -->
            </ul>
        </nav>
        
    </div>
</header>
<!-- End Header -->

<!-- Our Work Section -->
<div id="work" class="page">
	<div class="container">
    	<!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Мои работы</h2>
                    <!-- <h3 class="title-description">Check Out Our Projects on <a href="#">Dribbble</a>.</h3> -->
                </div>
            </div>
        </div>
        <!-- End Title Page -->
        
        <!-- Portfolio Projects -->
        <div class="row">
        	<div class="span3">
            	<!-- Filter -->
                <nav id="options" class="work-nav">
                    <ul id="filters" class="option-set" data-option-key="filter">
                    	<li class="type-work">Виды работ</li>
                        <li><a href="#filter" data-option-value="*" class="selected">Все</a></li>
                        <li><a href="#filter" data-option-value=".fsite">Сайты</a></li>
                        <li><a href="#filter" data-option-value=".fverstka">Верстка</a></li>
                        <li><a href="#filter" data-option-value=".fmodile">Мобильная верстка</a></li>
                    </ul>
                </nav>
                <!-- End Filter -->
            </div>
            
            <div class="span9">
            	<div class="row">
                	<section id="projects">
                        <ul id="thumbs">
                        


                                         {% for project in projects %}

                                           <li class="item-thumbs span3 {{ project.pr_type }}">

                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap" href="{{ project.get_url}}">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-text-thumb">Ilya</span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="{{ project.thumb.url }}" alt="">
                            </li>

                            {% endfor %}



                            </ul>
                                                    
                    </section>
                    
            	</div>
            </div>
        </div>
        <!-- End Portfolio Projects -->
    </div>
</div>
<!-- End Our Work Section -->

<!-- About Section -->
<div id="about" class="page-alternate">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">Обо мне</h2>
                <!-- <h3 class="title-description">Learn About our Team &amp; Culture.</h3> -->
            </div>
        </div>
    </div>
    <!-- End Title Page -->
    
    <!-- People -->
    <div class="row">
    	
        
        <!-- Start Profile -->
    	<div class="span12 profile">
        	<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Ilya</span>
                </div>
                <img src="/static/img/profile/1.jpg" alt="Ilya">
            </div>
            <h3 class="profile-name">Ilya</h3>
            <p class="profile-description">Пройессиональный Web программист. Занимаюсь Front end разработкой уже 3 года, а Back end- год, разрабатываю на <a href="https://www.djangoproject.com/">Django</a>. Знаю все современные технологии верстки. Имею несколько своих веб проектов. Буду рад сотрудничать с вами. </p>
            	
         <!--    <div class="social">
            	<ul class="social-icons">
                	<li><a href="#"><i class="font-icon-social-twitter"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-linkedin"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-google-plus"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-vimeo"></i></a></li>
                </ul>
            </div> -->
        </div>
        <!-- End Profile -->
        
    </div>
    <!-- End People -->
</div>
</div>
<!-- End About Section -->


<!-- Contact Section -->
<div id="contact" class="page">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">Обратная связь</h2>
                <h3 class="title-description">Я готов взяться за ваш преокт, напишите мне</h3>
            </div>
        </div>
    </div>
    <!-- End Title Page -->
    
    <!-- Contact Form -->
    <div class="row">
    	<div class="span9">
        
        	<form id="contact-form" class="contact-form" action="#">
                {% csrf_token %}
            	<p class="contact-name">
            		<input id="contact_name" type="text" placeholder="Имя" value="" name="name" />
                </p>
                <p class="contact-email">
                	<input id="contact_email" type="text" placeholder="Email" value="" name="email" />
                </p>
                <p class="contact-message">
                	<textarea id="contact_message" placeholder="Сообщение" name="message" rows="15" cols="40"></textarea>
                </p>
                <p class="contact-submit">
                	<a id="contact-submit" class="submit" href="#">Отправить письмо</a>
                </p>
                
                <div id="response">
                
                </div>
            </form>
         
        </div>
        
        <div class="span3">
        	<div class="contact-details">
        		<h3>Контактная информация</h3>
                <ul>
                    <li><a href="#">whitecomp777@yandex.ru</a></li>
                    <!-- <li>(916) 375-2525</li>
                    <li>
                        Brushed Studio
                        <br>
                        5240 Vanish Island. 105
                        <br>
                        Unknow
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
    <!-- End Contact Form -->
</div>
</div>
<!-- End Contact Section -->

<!-- Twitter Feed -->
<!-- <div id="twitter-feed" class="page-alternate">
	<div class="container">
    	<div class="row">
            <div class="span12">
                <div class="follow">
                    <a href="https://twitter.com/Bluxart" title="Follow Me on Twitter" target="_blank"><i class="font-icon-social-twitter"></i></a>
                </div>
                    
                <div id="ticker" class="query"> 
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- End Twitter Feed -->

<!-- Socialize -->
<!-- <div id="social-area" class="page">
	<div class="container">
    	<div class="row">
            <div class="span12">
                <nav id="social">
                    <ul>
                        <li><a href="https://twitter.com/Bluxart" title="Follow Me on Twitter" target="_blank"><span class="font-icon-social-twitter"></span></a></li>
                        <li><a href="http://dribbble.com/Bluxart" title="Follow Me on Dribbble" target="_blank"><span class="font-icon-social-dribbble"></span></a></li>
                        <li><a href="http://forrst.com/people/Bluxart" title="Follow Me on Forrst" target="_blank"><span class="font-icon-social-forrst"></span></a></li>
                        <li><a href="http://www.behance.net/alessioatzeni" title="Follow Me on Behance" target="_blank"><span class="font-icon-social-behance"></span></a></li>
                        <li><a href="https://www.facebook.com/Bluxart" title="Follow Me on Facebook" target="_blank"><span class="font-icon-social-facebook"></span></a></li>
                        <li><a href="https://plus.google.com/105500420878314068694" title="Follow Me on Google Plus" target="_blank"><span class="font-icon-social-google-plus"></span></a></li>
                        <li><a href="http://www.linkedin.com/in/alessioatzeni" title="Follow Me on LinkedIn" target="_blank"><span class="font-icon-social-linkedin"></span></a></li>
                        <li><a href="http://themeforest.net/user/Bluxart" title="Follow Me on ThemeForest" target="_blank"><span class="font-icon-social-envato"></span></a></li>
                        <li><a href="http://zerply.com/Bluxart/public" title="Follow Me on Zerply" target="_blank"><span class="font-icon-social-zerply"></span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
 --><!-- End Socialize -->

<!-- Footer -->
<!-- <footer>
	<p class="credits">&copy;2013 Brushed. <a href="http://themes.alessioatzeni.com/html/brushed/" title="Brushed | Responsive One Page Template">Brushed Template</a> by <a href="http://www.alessioatzeni.com/" title="Alessio Atzeni | Web Designer &amp; Front-end Developer">Alessio Atzeni</a></p>
</footer> -->
<!-- End Footer -->

<!-- Back To Top -->
<a id="back-to-top" href="#">
	<i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->


<!-- Js -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- jQuery Core -->
<script src="{% static "js/bootstrap.min.js" %}"></script> <!-- Bootstrap -->
<script src="{% static "js/supersized.3.2.7.min.js" %}"></script> <!-- Slider -->
<script src="{% static "js/waypoints.js" %}"></script> <!-- WayPoints -->
<script src="{% static "js/waypoints-sticky.js" %}"></script> <!-- Waypoints for Header -->
<script src="{% static "js/jquery.isotope.js" %}"></script> <!-- Isotope Filter -->
<script src="{% static "js/jquery.fancybox.pack.js" %}"></script> <!-- Fancybox -->
<script src="{% static "js/jquery.fancybox-media.js" %}"></script> <!-- Fancybox for Media -->
<script src="{% static "js/jquery.tweet.js" %}"></script> <!-- Tweet -->
<script src="{% static "js/plugins.js" %}"></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
<script src="{% static "js/main.js" %}"></script> <!-- Default JS -->
<!-- End Js -->

</body>
</html>