{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>
    <style type="text/css">
        #home-slider{
            display: none;
        }
    </style>
<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>White's portfolio</title>   

<meta name="description" content="Insert Your Site Description" /> 

<!-- Mobile Specifics -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="320"/>   

<!-- Mobile Internet Explorer ClearType Technology -->
<!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->

<!-- Bootstrap -->
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

<!-- Main Style -->
<link href="{% static "css/main.css" %}" rel="stylesheet">

<!-- Supersized -->
<link href="{% static "css/supersized.css" %}" rel="stylesheet">
<link href="{% static "css/supersized.shutter.css" %}" rel="stylesheet">

<!-- FancyBox -->
<link href="{% static "css/fancybox/jquery.fancybox.css" %}" rel="stylesheet">

<!-- Font Icons -->
<link href="{% static "css/fonts.css" %}" rel="stylesheet">

<!-- Shortcodes -->
<link href="{% static "css/shortcodes.css" %}" rel="stylesheet">

<!-- Responsive -->
<link href="{% static "css/bootstrap-responsive.min.css" %}" rel="stylesheet">
<link href="{% static "css/responsive.css" %}" rel="stylesheet">

<!-- Supersized -->
<link href="{% static "css/supersized.css" %}" rel="stylesheet">
<link href="{% static "css/supersized.shutter.css" %}" rel="stylesheet">

<!-- Google Font -->
<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Didact+Gothic&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>

<!-- Fav Icon -->
<link rel="shortcut icon" href="#">

<link rel="apple-touch-icon" href="#">
<link rel="apple-touch-icon" sizes="114x114" href="#">
<link rel="apple-touch-icon" sizes="72x72" href="#">
<link rel="apple-touch-icon" sizes="144x144" href="#">

<!-- Modernizr -->
<script src="{% static "js/modernizr.js" %}"></script>


</head>


<body>

<!-- This section is for Splash Screen -->
<div class="ole">
<section id="jSplash">
	<div id="circle"></div>
</section>
</div>
<!-- End of Splash Screen -->

<!-- Homepage Slider -->

<!-- End Homepage Slider -->

<!-- Header -->
<header>
    <div class="sticky-nav">
    	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        
        <div id="logo">
        	<a id="goUp" href="#home-slider" title="White | Responsive One Page Template">White</a>
        </div>
        
        <nav id="menu">
        	<ul id="menu-nav">
            	<li class="current"><a href="#home-slider">Главная</a></li>
                <li><a href="#work">Работы</a></li>
                <li><a href="#about">Обо мне</a></li>
                <li><a href="#contact">Контакты</a></li>
				<!-- <li><a href="shortcodes.html" class="external">Shortcodes</a></li> -->
            </ul>
        </nav>
        
    </div>
</header>
<!-- End Header -->

<!-- Our Work Section -->
<div id="work" class="page">
	<div class="container">
    	<!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Мои работы</h2>
                    <!-- <h3 class="title-description">Check Out Our Projects on <a href="#">Dribbble</a>.</h3> -->
                </div>
            </div>
        </div>
        <!-- End Title Page -->
        
        <!-- Portfolio Projects -->
        <div class="row">
        	<div class="span3">
            	<!-- Filter -->
                <nav id="options" class="work-nav">
                    <ul id="filters" class="option-set" data-option-key="filter">
                    	<li class="type-work">Виды работ</li>
                        <li><a href="#filter" data-option-value="*" class="selected">Все</a></li>
                        <li><a href="#filter" data-option-value=".fsite">Сайты</a></li>
                        <li><a href="#filter" data-option-value=".fverstka">Верстка</a></li>
                        <li><a href="#filter" data-option-value=".fmodile">Мобильная верстка</a></li>
                    </ul>
                </nav>
                <!-- End Filter -->
            </div>
            
            <div class="span9">
            	<div class="row">
                	<section id="projects">
                        <ul id="thumbs">
                        

                            
                                         {% for project in projects %}

                                           <li class="item-thumbs span3 fsite">

                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap" href="{{ project.get_url}}">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="{{ project.get_image_url }}" alt="">
                            </li>

                            {% endfor %}
                                                
                        

                            </ul>
                                                    
                    </section>
                    
            	</div>
            </div>
        </div>
        <!-- End Portfolio Projects -->
    </div>
</div>
<!-- End Our Work Section -->








<!-- Footer -->
<!-- <footer>
	<p class="credits">&copy;2013 Brushed. <a href="http://themes.alessioatzeni.com/html/brushed/" title="Brushed | Responsive One Page Template">Brushed Template</a> by <a href="http://www.alessioatzeni.com/" title="Alessio Atzeni | Web Designer &amp; Front-end Developer">Alessio Atzeni</a></p>
</footer> -->
<!-- End Footer -->

<!-- Back To Top -->
<a id="back-to-top" href="#">
	<i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->


<!-- Js -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- jQuery Core -->
<script src="{% static "js/bootstrap.min.js" %}"></script> <!-- Bootstrap -->
<script src="{% static "js/supersized.3.2.7.min.js" %}"></script> <!-- Slider -->
<script src="{% static "js/waypoints.js" %}"></script> <!-- WayPoints -->
<script src="{% static "js/waypoints-sticky.js" %}"></script> <!-- Waypoints for Header -->
<script src="{% static "js/jquery.isotope.js" %}"></script> <!-- Isotope Filter -->
<script src="{% static "js/jquery.fancybox.pack.js" %}"></script> <!-- Fancybox -->
<script src="{% static "js/jquery.fancybox-media.js" %}"></script> <!-- Fancybox for Media -->
<script src="{% static "js/jquery.tweet.js" %}"></script> <!-- Tweet -->
<script src="{% static "js/plugins.js" %}"></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
<script src="{% static "js/main.js" %}"></script> <!-- Default JS -->
<!-- End Js -->

</body>
</html>